<li class="timeline-post">
<span class="post-timestamp">
<%=text_post.created_at.strftime("%m/%d/%y")%><br>
<%=text_post.created_at.strftime("%I:%M %p")%>
</span>

<span class="post-main">
<span class="post-title"><a href="/text_posts/<%=text_post.id%>"><span class="post-title"><%=text_post.title%></span></a></span>
<span class="post-author">by <%="#{@users.find(text_post.user_id).first_name} #{@users.find(text_post.user_id).last_name}"%></span>
<span class="post-body"><%=text_post.body%></span>
<% if text_post.liked_by?(current_user) %>
<% icon = "<i class='glyphicon glyphicon-heart like-button liked' id='heart-icon-#{text_post.acting_as.id}'></i>" %>
<% else %>
<% icon = "<i class='glyphicon glyphicon-heart like-button not-liked' id='heart-icon-#{text_post.acting_as.id}'></i>" %>
<% end %>
<%= link_to raw(icon), post_like_path(text_post.acting_as), remote: true, method: :put, class: "like-button"%>
<small id="like-count-<%=text_post.acting_as.id%>"><%=text_post.liked_by.length%></small>
</span>

</li>