<body>

<div class="navSpacing"></div>


    <div class="section group">

        <div class="col span_12_of_12 bannerBoxText bg1">
            <div class="bannerBoxOverlay">
                <div class="containerSmall">
                    <div class="bannerBoxDetailSpacing"></div>
                    <span class="detailsText midGray">Posted by<img class="postedByPic" src="http://i.imgur.com/BcMWkDq.jpg" />on<span class="lightGray date"><%=@post.created_at.strftime("%B %-d, %Y")%></span>at<span class="lightGray time"><%=@post.created_at.strftime("%I:%M %p")%></span></span>
                    <br>
                    <h1 class="white textPost"><%=@post.title%></h1>
                    <hr>
                    <span class="tagsText textCenter midGray">
                        <%@post.tag_list.each do |t|%>
                <span class="tag autism">/<%=t%></span>
                <%end%>
                    </span>
                </div>
            </div>
        </div>
        <div class="containerPage">
            <div class="col span_12_of_12">
                <div class="containerSmall">
                    <h3 class="bolder textPost">TEXT POST</h3>
                    <p class="textPost darkGray"><%=@post.body%></p>
                    <br>
                    <span class="details"><span class="favorite floatLeft"><img class="like likeBig" src="http://i.imgur.com/miqgxes.png" /></span></span></span>
                </div>
            </div>
        </div>
    </div>

<div class="navSpacing"></div>

</body>
