

<body>



<div class="containerPage newContainer">

    <div class="section group">

        <div class="col span_12_of_12">
            <div class="container">
                <hr>
                <br>
                <span class="detailsText darkGray">Posted by<img class="postedByPicImage" src="http://i.imgur.com/BcMWkDq.jpg" />on<span class="black date"><%=@post.created_at.strftime("%B %-d, %Y")%></span>at<span class="black time"><%=@post.created_at.strftime("%I:%M %p")%></span></span>

            </div>
            <div class="container textCenter newContainer">
                <h1 class="black textCenter imagePost"><%=@post.title%></h1>
                <img class="image" align="center" src="<%=@post.image_url%>" />
                <span class="tagsText midGray">
                <%@post.tag_list.each do |t|%>
                <span class="tag autism">/<%=t%></span>
                <%end%>
                </span>
            </div>
            <div class="containerSmall textCenter">

                <p class="darkGray"><%=@post.body%></p>
                <hr><br>

                <span class="details"><span class="favorite floatLeft"><%=render partial: "buttons/like", locals: {post: @post}%></span></span></span>


            </div>
        </div>
    </div>

</div>

<div class="navSpacing"></div>

</body>




























