<!DOCTYPE html>
<html lang="en-US">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>SpecialHaven | A community for caretakers, experts, and organizations in the disability space. </title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="Description" content="SpecialHaven is the one-stop shop for all things special needs. Caretakers, experts, and organizations all come to SpecialHaven for up-to-date news, events, podcasts, videos, and open-discussion related to disability. We aim to make the lives of all people affected easier. ">
  <meta name="Keywords" content="special, needs, caretakers, doctors, psychiatrists, autism, cancer, muscular dystrophy, down syndrome, parents, mom, dad, buddy ball, exceptional families, family, special needs, disability, care, medical, mental disability, physical disability, illness, Autism, Aspergers, Parents, Providers, Social Network, Autism Support, Autism Group, CDD, ASD, HFA, Rett Syndrome, PDD-NOS, ABA Applied Behavior Analysis, High Functioning Autism, Childhood Disintegrative Disorder, Spectrum, Kids, Children, parent autism support, autism social network, Parent Support Group, special education, parent teacher association">
  <meta property="og:title" content="SpecialHaven | A community for caretakers, experts, and organizations in the disability space. ">
  <meta property="og:site_name" content="SpecialHaven">
  <meta property="og:url" content="http://specialhaven.com">
  <meta property="og:description" content="SpecialHaven is the one-stop shop for all things special needs. Caretakers, experts, and organizations all come to SpecialHaven for up-to-date news, events, podcasts, videos, and open-discussion related to disability. We aim to make the lives of all people affected easier. ">
  <meta property  ="fb:app_id" content="">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@thespecialhaven" />
  <meta name="twitter:title" content="The one-stop shop for up-to-date special needs and disability resources." />
  <meta name="twitter:description" content="Check out our website for more information." />
  <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/658721004051656705/cKK5KJcD.png" />

  <link href="https://necolas.github.io/normalize.css/3.0.3/normalize.css" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Neuton:400,200,700,300' rel='stylesheet' type='text/css'>

  <script src="/banner.js"></script>

</head>
<%=render partial: 'layouts/header'%>
<%= yield %>   

</html>

</head>
