<!DOCTYPE html>
<html>
<head>
  <title>SpecialHaven</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    <%= link_to "Log Out", destroy_user_session_path, :method => 'delete'%>

<%= yield %>

</body>
</html>
